* {
    margin: 0;
    padding: 0;
  }

 .container {
    margin: 100px 450px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 490px;
    background-color:white;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    /* box-shadow: 5px 8px 5px rgba(112, 92, 92, 0.205); */
 }
  h1 {
    text-align: center;
    margin-top:40px ;
    font-size: 40px;
  }

  .form-grp {
    margin: 30px;
  }
  input {
    display: flex;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 7px;
    margin: 0px auto;
    padding : 0px 5px; 
    width: 388px;
    height: 30px;  
    font-size: 15px;
  }

  label {
    display: flex;
    text-align: center;
    margin: 6px auto;
    padding : 0px 2px; 
    width: 388px;
    height: 20px; 
    font-size: 20px;
  }
  textarea {
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 7px;
   margin-left: 55px;
    width: 395px;
    height:80px;
    font-size: 15px;
  }
  .button{
    display: flex;
    align-items:center ;
    justify-content: center;
    padding-top: 20px;
  }
  .button button{
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: #ffb3b3;
    color: black;
    border-radius: 10px;
    font-size: larger;
  }
